body {
    background-color:#2E2E2E;
}
h1 {
    font-size:16.0pt;
    font-family:arial,helvetica,sans-serif;
    text-align:center;
}

p {
    font-size:10.0pt;
    font-family:arial,helvetica,sans-serif;
    text-align:center;
}
