body {
    background-color:#2E2E2E;
}
h1 {
    color:#C9C9C9;
    font-size:16.0pt;
    font-family:arial,helvetica,sans-serif;
    text-align:center;
}
p {
    color:#C9C9C9;
    font-size:10.0pt;
    font-family:arial,helvetica,sans-serif;
    text-align:center;
}
ul {
    color:#C9C9C9;
    font-size:10.0pt;
    font-family:arial,helvetica,sans-serif;
}
pre {
    color:#C9C9C9;
    font-size:10.0pt;
    font-family:arial,helvetica,sans-serif;
]